/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;  /* set font chữ cho cả website */
    scroll-behavior: smooth;    /* thanh cuộn */
}
/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết
*/

/* 
1. Vị trí 
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình vuông, hình tròn,...)
*/

/* Common (class chung) */

.clear {
    clear: both;    /* khắc phục lỗi khi dùng float của member-item */
}
.text-white {
    color: #ccc !important;
}
.text-center {
    text-align: center !important;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.col {
/* khi thẻ con dùng float thì các thẻ cha sẽ bị co lại */
    float: left;    /* kéo sang trái */
    padding-left: 8px;
    padding-right: 8px;
}
.col-third {
    width: 33.333333%;
}
.col-half {
    width: 50%;
}
.col-full {
    width: 100%;
}
.mt-8 {
    margin-top: 8px !important;
}
.mt-16 {
    margin-top: 16px !important;
}
.mt-32 {
    margin-top: 32px !important;
}
.pull-right {
    float: right !important;
}
.btn {
    border: none;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
    /* Fix lỗi của button khi chạy trên safari */
    appearance: none;
    -webkit-appearance: none;
}
.btn:hover {
    color: #000;
    background-color: #ccc;
}
/* Main */


#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
   height: 46px;
   background-color: #000;
   z-index: 1;  /* khắc phục lỗi của position fixed khi css phần slider */
}
#nav {
    display: inline-block;
}
#nav, .subnav {
    list-style-type: none;  /* xoá dấu chấm đầu dòng của thẻ li */
}
#nav > li {
    display: inline-block;
}
#nav li {
    position: relative; /* gắn trục toạ độ cho subnav */
}
#nav > li > a { /*là con trực tiếp. khi dùng > thì các con t2 t3 sẽ k bị ảnh hưởng */
    color: #fff;
    text-transform: uppercase; /* viết hoa chữ */
}
#nav li a {
    text-decoration: none;  /* bỏ gạch chân chữ */
    line-height: 46px;
    padding: 0 24px;
    display: block; /* block kế thừa chiều ngang của thẻ chứa nó */
}
#nav li:hover .subnav {
    display: block;
}
#nav > li:hover > a, #nav .subnav li:hover a {
    /* hover vào thẻ li có cha là nav, sau đó thẻ con a của li sẽ dc kế thừa thuộc tính */
    color: #000;
    background-color: #ccc;
}
#nav .subnav{
    display: none;
    min-width: 160px;   /* chiều ngang tối thiểu */
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* đổ bóng */
}
#nav .subnav a {
    color: #000;
    padding: 0 12px; /* dùng số chia hết cho 4 để có tỉ lệ đẹp */
    line-height: 38px;
}
#nav .nav_arrow_down {
    font-size: 16px;
}
#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .mobile-menu-btn,
#header .search_btn {
    float: right;   /* làm mất thuộc tính kế thừa chiều ngang của thẻ div */
    line-height: 46px; /*căn giữa icon */
    padding: 0 21px;
}
#header .search_btn:hover {
    background-color: #f44336;
    cursor: pointer;    /* thuộc tính thay đổi hình dạng trỏ chuột */
}
#header .mobile-menu-btn:hover {
    cursor: pointer;
    background-color: #ccc;
}
#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
}
#slider{
    position: relative; /* làm nổi thuộc tính text content để k ảnh hưởng đến phần slider */
    margin-top: 46px;   /* để tách biệt phần header và slider */
    padding-top: 50%;   /* đảm bảo đúng tỉ lệ kích thước. số % chiều ngang của chính nó */
    background: url(./ny.jpg) top center / cover no-repeat;
}
#slider .text-content{
    position: absolute; /* #slider */
    color: #fff;
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%);
    /* width: 100%;    cách 2 căn giữa */
    text-align: center;
    text-shadow: 0 0 1px #000;
}
#slider .text-heading{
    font-weight: 500;   /* độ dày chữ */
    font-size: 24px;
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;   /* tạo khoảng cách 2 dòng chữ */
}

#content .content-section {
    width: 800px;
    max-width: 100%; /* responsive */
    padding: 64px 0 112px;
    /* căn 2 đầu văn bản */
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px; /* responsive */
    padding-right: 16px; /* responsive */
}
#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;  /* khoảng cách giữa các chữ cái */
}
#content .section-sub-heading {
    font-size: 15px;
    margin-top: 25px;
    text-align: center;
    font-style: italic;
    opacity: 0.6;   /* độ mờ của chữ. có giá trị 0 đến 1 */
}
#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;    /* căn đều 2 đầu đoạn văn */
    line-height: 1.4;   /* chiều cao của 1 dòng. nếu tiếng việt thưởng để 1.6 */
}
#content .members-list {
    margin-top: 31px;
}
#content .member-name {
    font-size: 15px;
    
}
#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}
/* Tour Section */
.tour-section {
    background-color: #000;
}
.tikets-list {
    background-color: #fff;
    margin-top: 39px;
}
.tikets-list li {
    color: #757575;
    list-style-type: none;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}
.tikets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.tikets-list .quantity {
    float: right;
    width: 24px;
    left: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;   /* có float mới dùng dc margin âm */
}
/* Place */
.places-list{
    margin-top: 16px;
}
.place-img{
    width: 100%;    /* giới hạn kích thước ảnh trong 1 hàng */
    display: block;
}
.place-img:hover {
    opacity: 0.6;
}
.place-body{
    font-size: 15px;
    background-color: #fff;
    padding: 16px;
}
.place-heading{
    font-size: 15px;
    font-weight: 550;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}
/* Contact form */
.contact-content {
    margin-top: 48px;
}
.contact-info {
    font-size: 18px;
    line-height: 1.5;
}
.contact-info .space {
    width: 30px;
    display: inline-block;
}
.contact-info a {
    color: pink;
    opacity: 0.5;
}
.contact-info a:hover {
    opacity: 1;
}
.contact-form {
    font-size: 15px;
}
.contact-form .form-control {
    font-size: 17px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.contact-submit-btn {
    font-size: 17px;
}
.map-section img {
    width: 100%;
}
#footer {
    padding: 64px 16px;
    text-align: center;
}
#footer .social {
    font-size: 24px;
}
#footer .social a {
    color: #757575;
    text-decoration: none;
}
#footer .social a:hover {
    color: rgba(0, 0, 0, 0.3);
    cursor: auto;
}
#footer .copyright {
    margin-top: 15px;
    color: #757575;
    font-size: 15px ;
}
#footer .copyright a {
    color: #757575;
    font-size: 15px;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.open {
    display: flex;
}
.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);   /* cách lề 2 bên màn hình 1 khoảng cố định */
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.4s;
}
.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 6px;
}
.modal-header-icon {
    margin-right: 16px;
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    opacity: 0.8;
}
.modal-close:hover {
    cursor: pointer;
    opacity: 1;
    background-color: #ccc;
}
.modal-body {
    padding: 16px;
}
.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 8px;
}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
button#buy-tickets {
    background: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    padding: 18px;
    text-transform: uppercase;
}
button#buy-tickets:hover {
    cursor: pointer;
    opacity: 0.8;
}
.modal-footer {
    padding: 16px;
    text-align: right;
}
.modal-footer a {
    color: #2196f3;
    font-size: 15px;
}
/* tạo chuyển động liên tiếp cho hình ảnh tĩnh */
@keyframes modalFadeIn {
    from {
        transform: translateY(-150px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .contact-info {
        line-height: 2;
    }
    #footer .social a {
        margin: 0 8px;
    }
}
/* Tablet & Mobile */
@media (max-width: 1023px) {
    .btn {
        padding: 15px 16px;
    }
    .contact-form .form-control {
        padding: 15px;
    }
    
    #footer .social {
        font-size: 48px;
    }
    
    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }
}
/* Mobile */
@media (max-width: 739px) {
    .s-full-width, .s-col-full {
        width: 100% !important;
    }
    .s-mt-8 {
        margin-top: 8px !important;
    }
    #nav {
        display: block;
    }
    #nav > li {
        display: block;
    }
    #nav li a {
        padding: 1px 24px;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav a {
        color: #fff;
        padding: 5px 42px;
    }
    /* lấy nguyên thẻ con đầu tiên để kế thừa thuộc tính của cha */
    #nav > li:first-child {
        display: inline-block; 
    }
    #header {
        overflow: hidden;
    }
    #header .mobile-menu-btn {
        display: block;
    }
    #header .search_btn {
        display: none;
    }
    #content .member-img {
        width: 60%;
    }
    .contact-form {
        margin-top: 32px;
        line-height: 2;
    }
 }